src/wsdl/localhost_8080/WSTarea/WSTarea.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wstarea.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wstarea.una.ac.cr/" name="WSTarea">
<types>
<xsd:schema>
<xsd:import namespace="http://wstarea.una.ac.cr/" schemaLocation="http://localhost:8080/WSTarea/WSTarea?xsd=1"/>
</xsd:schema>
</types>
<message name="ValidarAdmin">
<part name="parameters" element="tns:ValidarAdmin"/>
</message>
<message name="ValidarAdminResponse">
<part name="parameters" element="tns:ValidarAdminResponse"/>
</message>
<message name="GetUltimaMarca">
<part name="parameters" element="tns:GetUltimaMarca"/>
</message>
<message name="GetUltimaMarcaResponse">
<part name="parameters" element="tns:GetUltimaMarcaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="validar">
<part name="parameters" element="tns:validar"/>
</message>
<message name="validarResponse">
<part name="parameters" element="tns:validarResponse"/>
</message>
<portType name="WSTarea">
<operation name="ValidarAdmin">
<input wsam:Action="http://wstarea.una.ac.cr/WSTarea/ValidarAdminRequest" message="tns:ValidarAdmin"/>
<output wsam:Action="http://wstarea.una.ac.cr/WSTarea/ValidarAdminResponse" message="tns:ValidarAdminResponse"/>
</operation>
<operation name="GetUltimaMarca">
<input wsam:Action="http://wstarea.una.ac.cr/WSTarea/GetUltimaMarcaRequest" message="tns:GetUltimaMarca"/>
<output wsam:Action="http://wstarea.una.ac.cr/WSTarea/GetUltimaMarcaResponse" message="tns:GetUltimaMarcaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://wstarea.una.ac.cr/WSTarea/helloRequest" message="tns:hello"/>
<output wsam:Action="http://wstarea.una.ac.cr/WSTarea/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="validar">
<input wsam:Action="http://wstarea.una.ac.cr/WSTarea/validarRequest" message="tns:validar"/>
<output wsam:Action="http://wstarea.una.ac.cr/WSTarea/validarResponse" message="tns:validarResponse"/>
</operation>
</portType>
<binding name="WSTareaPortBinding" type="tns:WSTarea">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ValidarAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetUltimaMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSTarea">
<port name="WSTareaPort" binding="tns:WSTareaPortBinding">
<soap:address location="http://localhost:8080/WSTarea/WSTarea"/>
</port>
</service>
</definitions>