src/wsdl/localhost_8080/relojunaWS/WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://relojunaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://relojunaws.una.ac.cr/" name="WS">
<types>
<xsd:schema>
<xsd:import namespace="http://relojunaws.una.ac.cr/" schemaLocation="http://localhost:8080/relojunaWS/WS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="guardarEmpleado">
<part name="parameters" element="tns:guardarEmpleado"/>
</message>
<message name="guardarEmpleadoResponse">
<part name="parameters" element="tns:guardarEmpleadoResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="existeEmpleado">
<part name="parameters" element="tns:existeEmpleado"/>
</message>
<message name="existeEmpleadoResponse">
<part name="parameters" element="tns:existeEmpleadoResponse"/>
</message>
<message name="crearReporte">
<part name="parameters" element="tns:crearReporte"/>
</message>
<message name="crearReporteResponse">
<part name="parameters" element="tns:crearReporteResponse"/>
</message>
<message name="buscarEmpleadoFolio">
<part name="parameters" element="tns:buscarEmpleadoFolio"/>
</message>
<message name="buscarEmpleadoFolioResponse">
<part name="parameters" element="tns:buscarEmpleadoFolioResponse"/>
</message>
<portType name="relojunaws">
<operation name="hello">
<input wsam:Action="http://relojunaws.una.ac.cr/relojunaws/helloRequest" message="tns:hello"/>
<output wsam:Action="http://relojunaws.una.ac.cr/relojunaws/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="guardarEmpleado">
<input wsam:Action="http://relojunaws.una.ac.cr/relojunaws/guardarEmpleadoRequest" message="tns:guardarEmpleado"/>
<output wsam:Action="http://relojunaws.una.ac.cr/relojunaws/guardarEmpleadoResponse" message="tns:guardarEmpleadoResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://relojunaws.una.ac.cr/relojunaws/loginRequest" message="tns:login"/>
<output wsam:Action="http://relojunaws.una.ac.cr/relojunaws/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="existeEmpleado">
<input wsam:Action="http://relojunaws.una.ac.cr/relojunaws/existeEmpleadoRequest" message="tns:existeEmpleado"/>
<output wsam:Action="http://relojunaws.una.ac.cr/relojunaws/existeEmpleadoResponse" message="tns:existeEmpleadoResponse"/>
</operation>
<operation name="crearReporte">
<input wsam:Action="http://relojunaws.una.ac.cr/relojunaws/crearReporteRequest" message="tns:crearReporte"/>
<output wsam:Action="http://relojunaws.una.ac.cr/relojunaws/crearReporteResponse" message="tns:crearReporteResponse"/>
</operation>
<operation name="buscarEmpleadoFolio">
<input wsam:Action="http://relojunaws.una.ac.cr/relojunaws/buscarEmpleadoFolioRequest" message="tns:buscarEmpleadoFolio"/>
<output wsam:Action="http://relojunaws.una.ac.cr/relojunaws/buscarEmpleadoFolioResponse" message="tns:buscarEmpleadoFolioResponse"/>
</operation>
</portType>
<binding name="relojunawsPortBinding" type="tns:relojunaws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearReporte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEmpleadoFolio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS">
<port name="relojunawsPort" binding="tns:relojunawsPortBinding">
<soap:address location="http://localhost:8080/relojunaWS/WS"/>
</port>
</service>
</definitions>