src/wsdl/localhost_8080/relojunaWS/WS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://relojunaws.una.ac.cr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://relojunaws.una.ac.cr/">

<xs:element name="buscarEmpleadoFolio" type="tns:buscarEmpleadoFolio"/>

<xs:element name="buscarEmpleadoFolioResponse" type="tns:buscarEmpleadoFolioResponse"/>

<xs:element name="buscarMarcaFolioFechas" type="tns:buscarMarcaFolioFechas"/>

<xs:element name="buscarMarcaFolioFechasResponse" type="tns:buscarMarcaFolioFechasResponse"/>

<xs:element name="crearReporte" type="tns:crearReporte"/>

<xs:element name="crearReporteResponse" type="tns:crearReporteResponse"/>

<xs:element name="eliminarEmpleadoFolio" type="tns:eliminarEmpleadoFolio"/>

<xs:element name="eliminarEmpleadoFolioResponse" type="tns:eliminarEmpleadoFolioResponse"/>

<xs:element name="empleado" type="tns:empleado"/>

<xs:element name="existeEmpleado" type="tns:existeEmpleado"/>

<xs:element name="existeEmpleadoResponse" type="tns:existeEmpleadoResponse"/>

<xs:element name="guardarEmpleado" type="tns:guardarEmpleado"/>

<xs:element name="guardarEmpleadoResponse" type="tns:guardarEmpleadoResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="marca" type="tns:marca"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="empleadofolio" type="xs:string" minOccurs="0"/>
<xs:element name="empleadopassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:respuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="respuesta">
<xs:sequence>
<xs:element name="codigoRespuesta" type="tns:codigoRespuesta" minOccurs="0"/>
<xs:element name="estado" type="xs:boolean" minOccurs="0"/>
<xs:element name="mensaje" type="xs:string" minOccurs="0"/>
<xs:element name="mensajeInterno" type="xs:string" minOccurs="0"/>
<xs:element name="resultado" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeEmpleado">
<xs:sequence>
<xs:element name="folio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeEmpleadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:respuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEmpleadoFolio">
<xs:sequence>
<xs:element name="empleadofolio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEmpleadoFolioResponse">
<xs:sequence>
<xs:element name="return" type="tns:respuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarMarcaFolioFechas">
<xs:sequence>
<xs:element name="folio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarMarcaFolioFechasResponse">
<xs:sequence>
<xs:element name="return" type="tns:marca" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="marca">
<xs:sequence>
<xs:element name="empleadoId" type="tns:empleado" minOccurs="0"/>
<xs:element name="marcaHoraEntrada" type="xs:dateTime" minOccurs="0"/>
<xs:element name="marcaHoraSalida" type="xs:dateTime" minOccurs="0"/>
<xs:element name="marcaId" type="xs:long" minOccurs="0"/>
<xs:element name="marcaJornada" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleado">
<xs:sequence>
<xs:element name="empleadoApellido" type="xs:string" minOccurs="0"/>
<xs:element name="empleadoCedula" type="xs:string" minOccurs="0"/>
<xs:element name="empleadoFechaNac" type="xs:dateTime" minOccurs="0"/>
<xs:element name="empleadoFolio" type="xs:string" minOccurs="0"/>
<xs:element name="empleadoFoto" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="empleadoIsAdmin" type="xs:long" minOccurs="0"/>
<xs:element name="empleadoNombre" type="xs:string" minOccurs="0"/>
<xs:element name="empleadoPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearReporte">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="crearReporteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarEmpleado">
<xs:sequence>
<xs:element name="arg0" type="tns:empleadoDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleadoDto">
<xs:sequence>
<xs:element name="empleadoAdmin" type="xs:boolean"/>
<xs:element name="empleadoApellido" type="xs:string" minOccurs="0"/>
<xs:element name="empleadoCedula" type="xs:string" minOccurs="0"/>
<xs:element name="empleadoFechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="empleadoFolio" type="xs:string" minOccurs="0"/>
<xs:element name="empleadoFoto" type="xs:string" minOccurs="0"/>
<xs:element name="empleadoId" type="xs:long" minOccurs="0"/>
<xs:element name="empleadoNombre" type="xs:string" minOccurs="0"/>
<xs:element name="empleadoPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarEmpleadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:empleadoDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEmpleadoFolio">
<xs:sequence>
<xs:element name="folio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEmpleadoFolioResponse">
<xs:sequence>
<xs:element name="return" type="tns:empleadoDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="codigoRespuesta">
<xs:restriction base="xs:string">
<xs:enumeration value="CORRECTO"/>
<xs:enumeration value="ERROR_ACCESO"/>
<xs:enumeration value="ERROR_PERMISOS"/>
<xs:enumeration value="ERROR_NOENCONTRADO"/>
<xs:enumeration value="ERROR_CLIENTE"/>
<xs:enumeration value="ERROR_INTERNO"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>