src/wsdl/localhost_8080/WS/relojunaws.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://relojunaws.una.ac.cr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://relojunaws.una.ac.cr/">

<xs:element name="CorregirFecha" type="tns:CorregirFecha"/>

<xs:element name="CorregirFechaResponse" type="tns:CorregirFechaResponse"/>

<xs:element name="GetUltimaMarca" type="tns:GetUltimaMarca"/>

<xs:element name="GetUltimaMarcaResponse" type="tns:GetUltimaMarcaResponse"/>

<xs:element name="GuaradarEmpleado" type="tns:GuaradarEmpleado"/>

<xs:element name="GuaradarEmpleadoResponse" type="tns:GuaradarEmpleadoResponse"/>

<xs:element name="ValidarAdmin" type="tns:ValidarAdmin"/>

<xs:element name="ValidarAdminResponse" type="tns:ValidarAdminResponse"/>

<xs:element name="destroy" type="tns:destroy"/>

<xs:element name="destroyResponse" type="tns:destroyResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="validar" type="tns:validar"/>

<xs:element name="validarResponse" type="tns:validarResponse"/>

<xs:complexType name="validar">
<xs:sequence>
<xs:element name="folio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="destroy">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="destroyResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GuaradarEmpleado">
<xs:sequence>
<xs:element name="emp" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GuaradarEmpleadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetUltimaMarca">
<xs:sequence>
<xs:element name="ahora" type="xs:dateTime" minOccurs="0"/>
<xs:element name="folio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetUltimaMarcaResponse">
<xs:sequence>
<xs:element name="return" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarAdmin">
<xs:sequence>
<xs:element name="psswrd" type="xs:string" minOccurs="0"/>
<xs:element name="folio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CorregirFecha">
<xs:sequence>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="folio_emp" type="xs:string" minOccurs="0"/>
<xs:element name="salida" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CorregirFechaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>